<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsIzj53GQqR77IgMot4MrtQWgWnDhQzyg</string>
	<key>GCM_SENDER_ID</key>
	<string>875411131883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldscheme.aradhanakuwait</string>
	<key>PROJECT_ID</key>
	<string>aradhana-kuwait</string>
	<key>STORAGE_BUCKET</key>
	<string>aradhana-kuwait.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875411131883:ios:1ebad7522e7509ff4c5dae</string>
</dict>
</plist>